<div class="main-container w-full h-full ">
    <div class="images w-full !h-[200px] flex justify-around ">
        <div *ngFor="let image of images" class="h-full   border-[black]" >
            <img [src]="image.url" [alt]="image.alt" class="h-full w-[200px]" (click)="selectImage(image)" [class.selected]="isImageSelected(image)"/>
        </div>
    </div>
    <div class="w-full h-full flex justify-center items-center">
        <canvas id="firstCanvas" width="1200" height="800" class="border-2 bg-[gray]"> </canvas>
    </div>
</div>